---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle='About Me'>
  <!-- ABOUT SECTION -->
  <section class='about' id='about'>
    <div class='max-width'>
      <h2 class='title'>About Me</h2>
      <div class='about-content'>
        <div class='column left'>
          <img src='/cwabout.jpg' alt='Cindy Wu' />
        </div>
        <div class='column right'>
          <div class='text'>
            I'm <span>Cindy Wu</span>... <span>Model & Fitpreneur</span>
          </div>
          <p>
            Cindy Wu was born and raised in Las Vegas, NV. Hard work has been an
            attribute she's held as a young girl. She grew up working in her
            family's restaurant to support her family along the way. During that
            time she's admired service, even giving an appreciation for our
            military as a child.
          </p>
          <p>
            Currently at this time, Cindy works at Caesars Palace on the Las
            Vegas strip helping to give tourists a friendly experience when
            visiting the hotel. While also doing modeling gigs, Cindy empowers
            other women through participation in fitness boot camps that allow
            them to gain valuable connections with others while improving their
            physical and mental fitness.
          </p>
          <p>
            When not involved with these other pursuits, she's consistently out
            every Thursday morning giving back to the community with food
            drives, assisting the Hope for the City church organization. Cindy
            now wants to serve her community as the next Miss Nevada. She plans
            on using pageantry to build a bigger platform to bring awareness to
            the increasing prevalence of loneliness happening in Las Vegas, the
            state of Nevada, and across our nation.
          </p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
