---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle='Collections of Work'>
  <!-- COLLECTIONS SECTION -->
  <section class='collections' id='collections'>
    <div class='max-width'>
      <h2 class='title'>Collections</h2>
      <div class='collections-content'>
        <div class='left'><i class='fa-solid fa-angle-left'></i></div>
        <div class='image'><img src='/cw1.jpg' /></div>
        <div class='right'><i class='fa-solid fa-angle-right'></i></div>
      </div>
    </div>
  </section>
</BaseLayout>
