---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle='Fitspiration Sign Up'>
  <!-- FITSPIRATION SECTION -->
  <section class='fitspiration' id='fitspiration'>
    <div class='max-width'>
      <h2 class='title'>Fitspiration</h2>
      <div class='fitspiration-content'>
        <!-- Calendly inline widget begin -->
        <div
          class='calendly-inline-widget'
          data-url='https://calendly.com/crownwinnerscollective'
          style='min-width:320px;height:630px;'
        >
        </div>
        <script
          type='text/javascript'
          src='https://assets.calendly.com/assets/external/widget.js'
          async
        ></script>
        <!-- Calendly inline widget end -->
      </div>
    </div>
  </section>
</BaseLayout>
