---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle='Cindy Wu Collections'>
  <!-- HOME SECTION -->
  <section class='home' id='home'>
    <div class='max-width'>
      <div class='home-content'>
        <div class='text-1'>Hello, my name is</div>
        <div class='text-2'>Cindy Wu</div>
      </div>
    </div>
  </section>
</BaseLayout>
