---
const today = new Date();
---

<!-- FOOTER -->
<footer>
  <div class='max-width'>
    <div class='footer-content'>
      <div class='text'>
        <div>
          Cindy Wu Collections -- Copyright <i class='fa-regular fa-copyright'
          ></i>
          {today.getFullYear()}
        </div>
      </div>
      <div class='social'>
        <a href='https://facebook.com/100011213880493' target='_blank'
          ><i class='fa-brands fa-facebook-square'></i>
        </a>
        <a href='https://instagram.com/_cindypwu' target='_blank'
          ><i class='fa-brands fa-instagram-square'></i>
        </a>
        <a href='https://twitter.com/cindypwu1' target='_blank'
          ><i class='fa-brands fa-twitter-square'></i>
        </a>
      </div>
    </div>
  </div>
</footer>
