---
---

<!-- NAVBAR -->
<nav class='navbar'>
  <div class='max-width'>
    <div class='logo'><a href='/'>CW <span>Collections</span></a></div>
    <ul class='menu'>
      <li><a href='/' class='menu-btn'>Home</a></li>
      <li><a href='/about' class='menu-btn'>About</a></li>
      <li><a href='/fitspiration' class='menu-btn'>Fitspiration</a></li>
      <li><a href='/collections' class='menu-btn'>Collections</a></li>
      <li><a href='/contact' class='menu-btn'>Contact</a></li>
    </ul>
    <div class='menu-btn'>
      <i class='fa-solid fa-bars'></i>
    </div>
  </div>
</nav>
